{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
    <br>
<div class="container">

<h1><i class="fas fa-user-circle"></i> Personal Info</h1>
<br>
  <div class="row">
    <div class="col-sm-12">

      {% if object.name %}
          <ul class="list-group">
            <li class="list-group-item"><strong>Username:</strong> {{ object.username }}</li>
            <li class="list-group-item"><strong>Name:</strong> {{ object.name }}</li>
            <li class="list-group-item"><strong>Lab:</strong> {{ object.lab }}</li>
            <li class="list-group-item"><strong>Rank:</strong> {{ object.rank }}</li>
          </ul>
          <br>
      {% endif %}
    </div>
  </div>
  <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Update Info <i class="fas fa-angle-right"></i></a>
  <br>
  <br>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item"><strong>Email:</strong> {{user.email }}</li>
    </ul>
  </div>
</div>
<br> 
<a class="btn btn-primary" href="{% url 'account_email' %}" role="button">Update Email <i class="fas fa-angle-right"></i></a>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

