server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name ${DJANGO_SERVER_NAME};

    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name ${DJANGO_SERVER_NAME};

    ssl_certificate /etc/nginx/certs/cloud-nuage.crt;
    ssl_certificate_key /etc/nginx/certs/cloud-nuage.key;
    ssl_trusted_certificate /etc/nginx/certs/cloud-nuage-chain.pem;

    ssl_session_timeout 1d;
    ssl_session_cache shared:SSL:50m;
    ssl_session_tickets off;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;

    charset utf-8;
    client_max_body_size 0m;
    client_body_timeout 1200s;
    client_header_timeout 1200s;
    send_timeout 3600s;
    proxy_connect_timeout 1200s;
    proxy_send_timeout 1200s;
    proxy_read_timeout 1200s;

    location /static {
        client_max_body_size 0m;
        alias /data/web/olc_webportalv2/static;
        send_timeout 3600s;
    }

    location / {
        client_max_body_size 0m;
        proxy_pass http://web:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        send_timeout 3600s;
    }
}

server {
    listen 80;
    listen [::]:80;
    server_name ${REDMINE_SERVER_NAME};

    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name ${REDMINE_SERVER_NAME};

    ssl_certificate /etc/nginx/certs/cloud-nuage.crt;
    ssl_certificate_key /etc/nginx/certs/cloud-nuage.key;
    ssl_trusted_certificate /etc/nginx/certs/cloud-nuage-chain.pem;

    # same proxy settings as your Django block
    location / {
        proxy_pass http://redmine:3000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
