{% extends "base.html" %}
{#Head container#}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n widget_tweaks %}
{% block content %}
  <h2>Download Your Data</h2>
  <br>
  {% if data_request.missing_seqids|length > 0 %}
    <div class="alert alert-danger" role="alert" align="center">
        <p>The following SEQIDs were not found: {{ data_request.missing_seqids }}</p>
    </div>
  {% endif %}
  {% if data_request.status == 'Processing' %}
      <button class="btn btn-info btn-block progress-bar-striped progress-bar-animated" disabled>{{ data_request.status }}</button>
      <br>
      <p>This page will automatically refresh.</p>
  {% elif data_request.status == 'Complete' %}
    <button class="btn btn-success btn-block" disabled>{{ data_request.status }}</button>
    <br>
    <p>These files will be available for 7 days.</p>
    <br>
    <div style="text-align: center">
        <a href="{{ data_request.download_link }}" class="btn btn-outline-dark" role="button">Download Assemblies</a>
        <br>
        <br>
    <div class="alert alert-primary" role="alert" align="center">
        <p>Shareable link: {{ data_request.download_link }}</p>
    </div>
  {% elif data_request.status == 'Warning' %}
    <button class="btn btn-warning btn-block" disabled>{{ data_request.status }}</button>
    <br>
    <p>These files will be available for 7 days.</p>
    <br>
    <div style="text-align: center">
    <a href="{{ data_request.download_link }}" class="btn btn-outline-dark" role="button">Download Assemblies</a>
    <br>
    <br>
    <div class="alert alert-primary" role="alert" align="center">
      <p>Shareable link: {{ data_request.download_link }}</p>
    </div>
  {% endif %}
    <script type="text/javascript">
    setInterval(function () {
      {% if data_request.status == 'Processing' %}
        window.location = window.location.href;
      {% endif %}
    }, 10000) // This should refresh the page every 10 seconds as long as data request status is processing.
  </script>
{% endblock %}
