{% extends "base.html" %}
{#Head container#}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n widget_tweaks %}
{% block content %}

  <a href="{% url 'data:raw_data' %}" class="btn btn-secondary btn-block" role="button" aria-pressed="true"> <i class="fas fa-plus"></i> <strong>Get Raw (FASTQ) Data </strong></a>
  <a href="{% url 'data:assembled_data' %}" class="btn btn-primary btn-block" role="button" aria-pressed="true"> <i class="fas fa-plus"></i> <strong>Get Processed (FASTA) Data</strong></a>
<br>
  <h2>Data Collection</h2>
  <br>
  <p>Data requests made in the last 7 days are visible. Afterwards, to reacquire the files, data will need to be re-run.</p>

  <table id="data-request-table" class="table table-hover">
  <thead>
    <tr style="text-align:center">
       <th>SEQIDs</th>
       <th>Status</th>
       <th>Download</th>
       <th>Request Date</th>
       <th>Type</th>
    </tr>
  </thead>
  <tbody>
    {% for data_request in data_requests %}
      <tr style="text-align:center">
        <td>
          {% for seqid in data_request.seqids|slice:":3" %}
            <p style="font-size:14px">{{ seqid }}</p>
          {% endfor %}
          {% if data_request.seqids|length > 3 %}
              <p style="font-size:14px">...and {{ data_request.seqids|length|add:'-3' }} more</p>
          {% endif %}
        </td>

         {% if data_request.status == 'Complete' %}
             <td><a href="{% url 'data:data_download' data_request_pk=data_request.pk %}" class="btn btn-success btn-block" role="button">{{ data_request.status }} <i class="fas fa-check-circle"></i></a></td>
         {% elif data_request.status == 'Warning' %}
          <td><a href="{% url 'data:data_download' data_request_pk=data_request.pk %}" class="btn btn-warning btn-block" role="button">{{ data_request.status }}</a></td>
          {% elif data_request.status == 'Processing' %}
             <td><a href="{% url 'data:data_download' data_request_pk=data_request.pk %}" class="btn progress-bar-striped progress-bar-animated bg-info btn-block" style="color:white;" role="button">{{ data_request.status }}</a></td>
          {% elif data_request.status == 'Error' %}
             <td><a href="{% url 'data:data_download' data_request_pk=data_request.pk %}" class="btn btn-outline-danger btn-block" role="button">{{ data_request.status }}</a></td>
          {% elif data_request.status == 'Unprocessed' %}
             <td><button class="btn-secondary btn-block" disabled>{{ data_request.status }}</button></td>
          {% endif %}

          {% if data_request.status == 'Complete' or data_request.status == 'Warning' %}
            <td><a href="{{ data_request.download_link }}" class="btn btn-dark btn-block" role="button">Download <i class="fas fa-download"></i></a></td>
          {% else %}
            <td><button class="btn btn-dark btn-block" disabled>Not Available</button></td>
          {% endif %}

        <td>{{ data_request.created_at }}</td>
        {% if data_request.request_type == 'FASTA' %}
          <td><button class="btn btn-outline-info btn-block" disabled>FASTA</button></td>
        {% elif data_request.request_type == 'FASTQ' %}
          <td><button class="btn btn-info btn-block" disabled>FASTQ</button></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <br>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/datatables.min.js' %}"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
  <script type="text/javascript">
    $(document).ready(function () {
        $('#data-request-table').dataTable()
    });
    setInterval(function () {
      {% for data_request in data_requests %}
          {% if data_request.status == 'Processing' %}
              window.location = window.location.href;
          {% endif %}
      {% endfor %}
    }, 60000) // This should refresh the page every 60 seconds as long as data request status is processing.
  </script>
{% endblock %}
