{% extends "base.html" %}
{#Head container#}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n widget_tweaks %}
{% block content %}
  <h2>Welcome to the assembly section of the web portal!</h2>
  <br>
  <table id="assembly-table" class="table table-hover">
      <thead>
          <tr>
            <th>Run Name</th>
            <th>Run Status</th>
            <th>Report Download</th>
          </tr>
      </thead>
      <tbody>
      {% for sequencing_run in sequencing_runs %}
        <tr>
          <td>{{ sequencing_run.run_name }}</td>
          {% if sequencing_run.status == 'Complete' %}
             <td><a href="{% url 'cowbat:cowbat_processing' sequencing_run_pk=sequencing_run.pk %}" class="btn btn-success" role="button">{{ sequencing_run.status }}</a></td>
          {% elif sequencing_run.status == 'Processing' %}
             <td><a href="{% url 'cowbat:cowbat_processing' sequencing_run_pk=sequencing_run.pk %}" class="btn progress-bar progress-bar-striped progress-bar-animated bg-info" role="button">{{ sequencing_run.status }}</a></td>
          {% elif sequencing_run.status == 'Error' %}
             <td><a href="{% url 'cowbat:cowbat_processing' sequencing_run_pk=sequencing_run.pk %}" class="btn btn-danger" role="button">{{ sequencing_run.status }}</a></td>
          {% elif sequencing_run.status == 'UploadError' %}
            <td><a href="{% url 'cowbat:cowbat_processing' sequencing_run_pk=sequencing_run.pk %}" class="btn btn-warning" role="button">{{ sequencing_run.status }}</a></td>
          {% endif %}
          <td>
          {% if sequencing_run.status == 'Complete' %}
            <a href="{{ sequencing_run.download_link }}" class="btn btn-outline-dark"
       role="button">Download {{ sequencing_run.run_name }}</a>
          {% else %}
            <button class="btn-dark" disabled>Not Available</button>
          {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
  <br>
  <a href="{% url 'cowbat:upload_metadata' %}" class="btn btn-primary btn-block" role="button" aria-pressed="true">Upload a New Run</a>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/datatables.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
  <script type="text/javascript">
    $(document).ready(function () {
        var table = $('#assembly-table').DataTable();
        table.order([0, 'desc'])
    });
    setInterval(function () {
      {% for sequenceing_run in sequencing_runs %}
        {% if sequenceing_run.status == 'Processing' %}
          window.location = window.location.href;
        {% endif %}
      {% endfor %}
    }, 60000) // This should refresh the page every 60 seconds as long as run status is processing
  </script>
{% endblock %}
