{% extends "base.html" %}
{#Head container#}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n widget_tweaks %}
{% block content %}
<br>
  <a href="{% url 'cowbat:upload_metadata' %}" class="btn btn-primary btn-block" role="button" aria-pressed="true"> <i class="fas fa-plus"></i><strong> Upload a New Run</strong></a>
  <br>
  <h2>Assembly Home</h2>
  <br>
  <br>
  <table id="assembly-table" class="table table-hover">
      <thead>
          <tr>
            <th>Run Name</th>
            <th>Run Status</th>
            <th>Report Download</th>
          </tr>
      </thead>
      <tbody>
      {% for sequencing_run in sequencing_runs %}
        <tr>
          <td style="text-indent: 7px">{{ sequencing_run.run_name }}</td>
          {% if sequencing_run.status == 'Complete' %}
             <td><a href="{% url 'cowbat:cowbat_processing' sequencing_run_pk=sequencing_run.pk %}" class="btn btn-success" role="button">{{ sequencing_run.status }} <i class="fas fa-check-circle"></i></a></td>
          {% elif sequencing_run.status == 'Processing' %}
             <td><a href="{% url 'cowbat:cowbat_processing' sequencing_run_pk=sequencing_run.pk %}" class="btn progress-bar-striped progress-bar-animated bg-info" style="color:white;" role="button">{{ sequencing_run.status }} </a></td>
          {% elif sequencing_run.status == 'Error' %}
             <td><a href="{% url 'cowbat:cowbat_processing' sequencing_run_pk=sequencing_run.pk %}" class="btn btn-danger" role="button">{{ sequencing_run.status }}</a></td>
          {% elif sequencing_run.status == 'UploadError' %} 
            <td><a href="{% url 'cowbat:cowbat_processing' sequencing_run_pk=sequencing_run.pk %}" class="btn btn-warning" role="button">{{ sequencing_run.status }}</a></td>
          {% elif sequencing_run.status == 'Unprocessed' %}
          <td style="text-indent: 7px"><button class="btn-secondary" disabled>Unprocessed</button></td>
          {% endif %}
          <td style="text-indent: 8px">
          {% if sequencing_run.status == 'Complete' %}
            <a href="{{ sequencing_run.download_link }}" class="btn btn-dark" style="padding-left:3px;" role="button">Download <i class="fas fa-download"></i></a>
          {% else %}
          <button class="btn-dark" disabled>Unavailable</button>
          {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
  <br>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/datatables.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
  <script type="text/javascript">
    //Sorting of page based on first column descending.
    $(document).ready(function () {
        var table = $('#assembly-table').DataTable();
        table
        .column( '0:visible' )
        .order( 'desc' )
        .draw();
    });
    setInterval(function () {
      {% for sequenceing_run in sequencing_runs %}
        {% if sequenceing_run.status == 'Processing' %}
          window.location = window.location.href;
        {% endif %}
      {% endfor %}
    }, 60000) // This should refresh the page every 60 seconds as long as run status is processing
  </script>
{% endblock %}