{% extends "base.html" %}
{#Head container#}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n widget_tweaks %}
{% block content %}
<h2>COWBAT Status for {{ sequencing_run.run_name }}</h2>
<br>
{% if sequencing_run.status == 'Unprocessed' %}
    <button class="btn btn-primary btn-block" disabled>{{ sequencing_run.status }}</button>
{% elif sequencing_run.status == 'Error' %}
    <button class="btn btn-danger btn-block" disabled>{{ sequencing_run.status }}</button>
{% elif sequencing_run.status == 'UploadError' %}
  <button class="btn btn-warning btn-block" disabled>{{ sequencing_run.status }}</button>
  <br>
  <p>It looks like one or more of your files did not upload successfully. Click the button below to retry upload of
  your sequence data. You'll only have to upload files that did not successfully upload.</p>
  <br>
  <div align="center">
  <a href="{% url 'cowbat:retry_sequence_data_upload' sequencing_run_pk=sequencing_run.pk %}" class="btn btn-primary"
     role="button" >Retry Sequence Upload For {{ sequencing_run.run_name }}</a>
  </div>
{% elif sequencing_run.status == 'Processing' %}
  <button class="btn btn-info btn-block" disabled>{{ sequencing_run.status }}</button>
  <br><br>
  <div style="text-align: center">
      <h4>Run Progress</h4>
      <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0"
          aria-valuemax="100" style="width:{{ progress }}%">{{ progress }}%</div>
      </div>
  </div>
  <br>
  <p>This page will automatically refresh. An assembly run usually takes at least 4-5 hours.</p>
  <p>You don't have to remain on this page - this assembly request will be visible on the <a href="{% url 'cowbat:assembly_home' %}">Assembly homepage.</a> </p>
{% elif sequencing_run.status == 'Complete' %}
  <button class="btn btn-success btn-block" disabled>{{ sequencing_run.status }}</button>
  <br>
  <div style="text-align: center">
    <h4>Run Progress</h4>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0"
           aria-valuemax="100" style="width:100%">100%</div>
    </div>
  </div>
    <br>
  <div align="center">
    <a href="{{ sequencing_run.download_link }}" class="btn btn-outline-dark"
       role="button" >Download Reports and Assemblies for {{ sequencing_run.run_name }}</a>
  </div>
  <br>
     <div class="alert alert-primary" role="alert" align="center">
        <p>Shareable link: {{ sequencing_run.download_link }}</p>
    </div>
{% endif %}
  <script type="text/javascript">
    setInterval(function () {
      {% if sequencing_run.status == 'Processing' or sequencing_run.status == 'Unprocessed' %}
        window.location = window.location.href;
      {% endif %}
    }, 60000) // This should refresh the page every 60 seconds as long as run status is processing.
  </script>
{% endblock %}
