{% extends "base.html" %}
{#Head container#}
{% load static %}
{% load bootstrap %}
{% load i18n widget_tweaks %}
{% block content %}
  <h2>{% trans "Step 2 of 3: Upload InterOp Files for Run" %} {{ sequencing_run.run_name }}</h2>
  <br>
  <form action={% url 'cowbat:upload_interop' sequencing_run_pk=sequencing_run.pk %} class="dropzone" id="myDropzone" enctype="multipart/form-data" method="post" name="file-form">
   <div class="dz-message needsclick">
        {% trans "Drop files to upload or click here" %}<br>
        <i class="fas fa-cloud-upload-alt fa-4x"></i>
        </div>
  {% csrf_token %}
  </form>
  <table id="files-required-table" class="table table-hover compact small">
    <thead>
        <tr style="font-size: 1.25rem;">
          <td style="border:none;"><strong>{% trans "File"%}</strong></td>
          <td style="text-align:center; border:none;"><strong>{% trans 'Status'%}<strong></td>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td>ControlMetricsOut.bin  <i class="fas fa-asterisk fa-xs" style="color:red"></i></td>
          <td class="table-danger" align="center"><i class="fa fa-ban fa-1x"></i></td>
        </tr>
        <tr>
          <td>CorrectedIntMetricsOut.bin  <i class="fas fa-asterisk fa-xs" style="color:red"></i></td>
          <td class="table-danger" align="center"><i class="fa fa-ban fa-1x"></i></td>
        </tr>
        <tr>
          <td>ErrorMetricsOut.bin  <strong>Optional</strong></td>
          <td class="table-warning" align="center"><i class="fa fa-ban fa-1x"></i></td>
        </tr>
        <tr>
          <td>ExtractionMetricsOut.bin  <i class="fas fa-asterisk fa-xs" style="color:red"></i></td>
          <td class="table-danger" align="center"><i class="fa fa-ban fa-1x"></i></td>
        </tr>
        <tr>
          <td>IndexMetricsOut.bin  <i class="fas fa-asterisk fa-xs" style="color:red"></i></td>
          <td class="table-danger" align="center"><i class="fa fa-ban fa-1x"></i></td>
        </tr>
        <tr>
          <td>QMetricsOut.bin  <i class="fas fa-asterisk fa-xs" style="color:red"></i></td>
          <td class="table-danger" align="center"><i class="fa fa-ban fa-1x"></i></td>
        </tr>
        <tr>
          <td>TileMetricsOut.bin  <i class="fas fa-asterisk fa-xs" style="color:red"></i></td>
          <td class="table-danger" align="center"><i class="fa fa-ban fa-1x"></i></td>
        </tr>
    </tbody>
  </table>
  <br>

  <button id="validate" class="btn btn-primary">{% trans "Validate InterOp Files" %}</button><br><br>
  <button id="submit" class="btn btn-lg btn-success" disabled>{% trans "Upload InterOp Files" %}</button>

  <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/dropzone.css' %}"/>
  <script src="{% static 'js/dropzone.js' %}"></script>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript">
  Dropzone.options.myDropzone = {

    // Prevents Dropzone from uploading dropped files immediately
    autoProcessQueue: false,
    addRemoveLinks: true,
    acceptedFiles: '.bin',
    maxFilesize: 1024, // This is in MB. Shouldn't ever have files bigger than this.
    parallelUploads: 200, // Number of files allowed to upload at one. Shouldn't ever be bigger than this
    uploadMultiple: true,
    maxFiles: 200,
    timeout: 3600000,
     init : function() {
                var submitButton = document.querySelector("#submit");
                var validateButton = document.querySelector("#validate");
                var myDropzone = this;

                this.on("queuecomplete", function () {
                  $("#myDropzone").submit();
                });
                validateButton.addEventListener("click", function(e) {
                      // Todo: Actually make this validation do something.
                      var filesAccepted = myDropzone.getAcceptedFiles();
                      var filesTable = document.getElementById('files-required-table');
                      // Change classes for SampleSheet, RunInfo, whatever else to green checkmark
                      // if those files have been uploaded.
                      var filesAcceptedNames = [];
                     // Get all the names put into array for validation.
                      for(var i=0; i<filesAccepted.length; i++) {
                        filesAcceptedNames.push(filesAccepted[i].name)
                      }
                      for(var i = 1; i < filesTable.rows.length;)
                      {
                          filesTable.deleteRow(i);
                      }
                      var validationSuccess = true;
                      var requiredFiles = ['ControlMetricsOut.bin', 'CorrectedIntMetricsOut.bin', 'ErrorMetricsOut.bin', 'ExtractionMetricsOut.bin', 'IndexMetricsOut.bin', 'QMetricsOut.bin', 'TileMetricsOut.bin'];
                      for(var i=0; i<requiredFiles.length; i++ ) {
                        if (filesAcceptedNames.indexOf(requiredFiles[i]) !== -1) {
                          var row = filesTable.insertRow();
                          var cell1 = row.insertCell();
                          var cell2 = row.insertCell();
                          cell1.innerHTML=requiredFiles[i];
                          cell2.classList.add('table-success');
                          cell2.align = 'center';
                          cell2.innerHTML = '<i class=\"fa fa-check-circle fa-1x\"></i>';
                        }
                        else {
                          var row = filesTable.insertRow();
                          var cell1 = row.insertCell();
                          var cell2 = row.insertCell();
                          cell1.innerHTML=requiredFiles[i];
                          // Sometimes, for reasons unknown, the MiSeq doesn't manage to produce an ErrorMetricsOut.bin
                          // Since that's the case, make it an optional file.
                          if (requiredFiles[i] !== 'ErrorMetricsOut.bin'){
                          cell2.classList.add('table-danger');
                          cell2.align = 'center';
                          cell2.innerHTML = '<i class=\"fa fa-ban fa-1x\"></i>';
                            validationSuccess = false;
                          }
                          else {
                            cell2.classList.add('table-warning');
                            cell2.align = 'center';
                            cell2.innerHTML = '<i class=\"fa fa-ban fa-1x\"></i>';

                          }
                        }
                      }
                      // Removal of unnecessary files and alert populated with names of files
                      let del_text = "{% trans 'Following files are unnecessary and have been removed: ' %}";
                      for(var i=0; i<filesAcceptedNames.length; i++ ) {
                        if (requiredFiles.indexOf(filesAcceptedNames[i]) == -1) {
                        del_text += filesAcceptedNames[i] + ', ';
                        myDropzone.removeFile(filesAccepted[i]);        
                        }
                      }
                      // if there are files names added to text, then alert
                      console.log(del_text.length);
                      if (del_text.length > 58) {
                      Swal.fire({
                      title: "{% trans 'Unnecessary Files' %}",
                      text: del_text,
                      type: 'warning',
                      showConfirmButton: false
                      })
                      validationSuccess = false;
                      return false
                      }
                      // Removal of duplicate files and alert populated with names of files
                      let dup_text = "{% trans 'Following files are duplicates and have been removed: ' %}";
                      let findDuplicates = arr => arr.filter((item, index) => arr.indexOf(item) != index);
                      let duplicates = findDuplicates(filesAcceptedNames);
                      if (duplicates.length > 0) {
                        for(var i=0; i<duplicates.length; i++ ) {
                          dup_text += duplicates[i] + ', ';
                          myDropzone.removeFile(filesAccepted[(filesAcceptedNames.indexOf(duplicates[i]))]);
                        }
                        Swal.fire({
                        title: "{% trans 'Duplicate Files' %}",
                        text: dup_text,
                        type: 'warning',
                        showConfirmButton: false
                        })
                        validationSuccess = false;
                        return false
                      }

                      if (validationSuccess === true) {
                        $('#submit').prop('disabled', false);
                      }
                });
                submitButton.addEventListener("click", function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    myDropzone.processQueue();
                    // Tell Dropzone to process all queued files.
                });
      }
  };
  </script>
{% endblock %}
