{% extends "base.html" %}
{#Head container#}
{% load static %}
{% load bootstrap %}
{% load widget_tweaks %}
{% load i18n widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}
<h2>{% trans "Step 1 of 3: Upload Metadata Files and Name Run"%}</h2>
  <p>{% blocktrans %} Enter a run name and drag and drop the files found in the following table to upload. Once all files have been uploaded,
  you can proceed to the next page. {% endblocktrans %}</p>
  <br><br>
  <br>
 <form action={% url 'cowbat:upload_metadata' %} class="dropzone" id="myDropzone" enctype="multipart/form-data" method="post" name="file-form">
       <div style="position:absolute; top:-85px;left:-2px;"> <strong>{{form|crispy}}</strong> </div>
        <div class="dz-message needsclick">
        {% trans "Drop files to upload or click here" %}<br>
        <i class="fas fa-cloud-upload-alt fa-4x"></i>
        </div>
  {% csrf_token %}
  </form>
  <table id="files-required-table" class="table table-hover compact small">
    <thead>
        <tr style="font-size: 1.25rem;">
          <td style="border:none;"><strong>{% trans "File"%}</strong></td>
          <td style="text-align:center; border:none;"><strong>{% trans 'Status'%}<strong></td>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td>config.xml</td>
          <td class="table-danger" align="center"><i class="fa fa-ban fa-1x"></i></td>
        </tr>
        <tr>
          <td>CompletedJobInfo.xml</td>
          <td class="table-danger" align="center"><i class="fa fa-ban fa-1x"></i></td>
        </tr>
        <tr>
          <td>GenerateFASTQRunStatistics.xml</td>
          <td class="table-danger" align="center"><i class="fa fa-ban fa-1x"></i></td>
        </tr>
        <tr>
          <td>RunInfo.xml</td>
          <td class="table-danger" align="center"><i class="fa fa-ban fa-1x"></i></td>
        </tr>
        <tr>
          <td>runParameters.xml</td>
          <td class="table-danger" align="center"><i class="fa fa-ban fa-1x"></i></td>
        </tr>
        <tr>
          <td>SampleSheet.csv</td>
          <td class="table-danger" align="center"><i class="fa fa-ban fa-1x"></i></td>
        </tr>
    </tbody>
  </table>
  
  <div class="btnVal"><button id="validate" class="btn btn-primary">{% trans "Validate Metadata Files"%}</button></div>
  <br>
  <button id="submit" class="btn btn-lg btn-success" disabled>{% trans "Upload Metadata Files"%}</button>
  <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/dropzone.css' %}"/>
  <script src="{% static 'js/dropzone.js' %}"></script>
  <script src="{% static 'js/papaparse.min.js' %}"></script>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript">
  function validateForm() {
      var lang = document.documentElement.lang;
      var name = document.forms["file-form"]["run_name"].value;
      var external_regex = /\d{6}_[A-Z]+$/;
      var olc_regex = /\d{6}_M\d+$/;
      if (name === "") {
        Swal.fire({
        title: "{% trans 'Invalid' %}",
        text: "{% trans 'Run name cannot be blank!' %}",
        type: 'warning',
        showConfirmButton: false
        })
        return false
      }
      var found_external = name.match(external_regex);
      var found_olc = name.match(olc_regex);
      if (found_external === null && found_olc === null) {
        Swal.fire({
        title: "{% trans 'Invalid' %}",
        text: "{% trans 'Run name must be in YYMMDD_LAB format!' %}",
        type: 'warning',
        showConfirmButton: false
      });
        return false
      }
      return true
    }
  Dropzone.options.myDropzone = {

    // Prevents Dropzone from uploading dropped files immediately
    autoProcessQueue: false,
    addRemoveLinks: true,
    acceptedFiles: '.xml, .csv',
    maxFilesize: 1024, // This is in MB. Shouldn't ever have files bigger than this.
    parallelUploads: 200, // Number of files allowed to upload at one. Shouldn't ever be bigger than this
    uploadMultiple: true,
    maxFiles: 200,
    timeout: 3600000,

    init : function() {
                var submitButton = document.querySelector("#submit");
                var validateButton = document.querySelector("#validate");
                var myDropzone = this;

                this.on("queuecomplete", function () {
                  $("#myDropzone").submit();
                });

                validateButton.addEventListener("click", function(e) {
                      validateForm();
                      var filesAccepted = myDropzone.getAcceptedFiles();
                      var filesTable = document.getElementById('files-required-table');
                      // Change classes for SampleSheet, RunInfo, whatever else to green checkmark
                      // if those files have been uploaded.
                      var filesAcceptedNames = [];
                     // Get all the names put into array for validation.
                      for(var i=0; i<filesAccepted.length; i++) {
                        filesAcceptedNames.push(filesAccepted[i].name)
                      }
                      for(var i = 1; i < filesTable.rows.length;)
                      {
                          filesTable.deleteRow(i);
                      }
                      var validationSuccess = true;
                      var requiredFiles = ['config.xml', 'CompletedJobInfo.xml', 'GenerateFASTQRunStatistics.xml', 'RunInfo.xml','runParameters.xml', 'RunParameters.xml', 'SampleSheet.csv'];
                      for(var i=0; i<requiredFiles.length; i++ ) {
                        if (filesAcceptedNames.indexOf(requiredFiles[i]) !== -1) {
                          var row = filesTable.insertRow();
                          var cell1 = row.insertCell();
                          var cell2 = row.insertCell();
                          cell1.innerHTML=requiredFiles[i];
                          cell2.classList.add('table-success');
                          cell2.align = 'center';
                          cell2.innerHTML = '<i class=\"fa fa-check-circle fa-1x\"></i>';
                        } 
                        else {
                          // table formatting to allow only one of run/Run Parameters
                          if (requiredFiles[i] == 'runParameters.xml' && (filesAcceptedNames.indexOf('RunParameters.xml') !== -1)){}
                          else if (requiredFiles[i] == 'RunParameters.xml' && (filesAcceptedNames.indexOf('runParameters.xml') !== -1)){}
                          else if (requiredFiles[i] == 'RunParameters.xml') {}
                          else {
                            var row = filesTable.insertRow();
                            var cell1 = row.insertCell();
                            var cell2 = row.insertCell();
                            cell1.innerHTML=requiredFiles[i];
                            cell2.classList.add('table-danger');
                            cell2.align = 'center';
                            cell2.innerHTML = '<i class=\"fa fa-ban fa-1x\"></i>';
                            validationSuccess = false;}}
                      }
                      // Removal of unnecessary files and alert populated with names of files
                      let del_text = "{% trans 'Following files are unnecessary and have been removed: ' %}";
                      for(var i=0; i<filesAcceptedNames.length; i++ ) {
                        if (requiredFiles.indexOf(filesAcceptedNames[i]) == -1) {
                        del_text += filesAcceptedNames[i] + ', ';
                        myDropzone.removeFile(filesAccepted[i]);        
                        }
                      }
                      // if there are files names added to del_text, then alert
                      if (del_text.length > 69) {
                        Swal.fire({
                        title: "{% trans 'Unnecessary Files' %}",
                        text: del_text,
                        type: 'warning',
                        showConfirmButton: false
                        })
                        validationSuccess = false;
                        return false
                      }
                      // Removal of duplicate files and alert populated with names of files
                      let dup_text = "{% trans 'Following files are duplicates and have been removed: ' %}";
                      let findDuplicates = arr => arr.filter((item, index) => arr.indexOf(item) != index);
                      let duplicates = findDuplicates(filesAcceptedNames);
                      if (duplicates.length > 0) {
                        for(var i=0; i<duplicates.length; i++ ) {
                          dup_text += duplicates[i] + ', ';
                          myDropzone.removeFile(filesAccepted[(filesAcceptedNames.indexOf(duplicates[i]))]);
                        }
                        Swal.fire({
                        title: "{% trans 'Duplicate Files' %}",
                        text: dup_text,
                        type: 'warning',
                        showConfirmButton: false
                        })
                        validationSuccess = false;
                        return false
                      }
                      
                      // Also check that all SEQIDs submitted are valid.
                      // in this list.
                      var seqid_validated = true;
                      var checked_samplesheet = false;
                      for(var i=0; i < filesAccepted.length; i++) {
                        if (filesAccepted[i].name.indexOf('SampleSheet.csv') !== -1) {
                          var reader = new FileReader();
                          var good_seqid_list = [];
                          checked_samplesheet = true;
                          reader.readAsText(filesAccepted[i]);
                          reader.onload = function (event) {
                            var csv = event.target.result;
                            var csvdata = Papa.parse(csv);
                            // at this point we should try to get a list of SEQIDs out of the SampleSheet - Make sure
                            // that they're in the correct format, and raise an error if not.
                            var sampleSheetData = csvdata['data'];
                            var seqidstart = false;
                            var seqidregex = /\d{4}-[A-Z]+-\d{4}$/;
                            var seqidlist = []; // Keep things that are supposed to be SEQIDs but not properly formatted
                            // Make a regex to tell of SEQID matches.
                            for (var i = 0; i < sampleSheetData.length; i++) {
                              // Check that we are on the SEQIDs but not blank (sometimes get a blank row at EOF)
                              if (seqidstart === true && sampleSheetData[i][0] !== '') {
                                if (sampleSheetData[i][0].search(seqidregex) === -1) {
                                  seqidlist.push(sampleSheetData[i][0]);
                                }
                                else {
                                  good_seqid_list.push(sampleSheetData[i][0].toString())
                                }
                              }
                              if (sampleSheetData[i][0] === 'Sample_ID') {
                                seqidstart = true;
                              }
                            }
                            if(seqidlist.length > 0) {
                              seqid_validated = false;
                              $('#submit').prop('disabled', true);
                              filesTable.rows[6].cells[1].innerHTML = '<i class=\"fa fa-ban fa-1x\"></i>';
                              filesTable.rows[6].cells[1].classList.add('table-danger');
                              alert('One or more SEQIDs specified on SampleSheet.csv did not have correct formatting.\n' +
                                'Correct format is YYYY-LAB-####.\nIncorrectly formatted SEQIDs: ' + seqidlist.toString());
                            }
                          }
                        }
                      }
                      // Also need to parse GenerateFASTQRunStatistics.xml and make sure names there are the same
                      // as SeqIDs - have run into issues with this before where people give the wrong file or
                      // mess with names in SampleSheet.  TODO: Not working yet.
                      var fastq_run_stats_validated = true;
                      for(var i=0; i < filesAccepted.length; i++) {
                        if (filesAccepted[i].name.indexOf('GenerateFASTQRunStatistics.xml') !== -1 && checked_samplesheet === true) {
                          var reader = new FileReader();
                          reader.readAsText(filesAccepted[i]);
                          reader.onload = function (event) {
                            var bad_seqids_in_run_stats = [];
                             var txt = event.target.result;
                             if (window.DOMParser) {
                                parser = new DOMParser();
                                xmlDoc = parser.parseFromString(txt, "text/xml");
                              }
                              else {  // This is for Explorer support.
                                xmlDoc = new ActiveXObject("Microsoft.XMLDOM");
                                xmlDoc.async = false;
                                xmlDoc.loadXML(txt);
                              }
                              x = xmlDoc.getElementsByTagName('SampleName');
                              for (i = 0; i < x.length; i++) {
                                // Check element is in our list of good SeqIDs.
                                var seqid_in_run_stats = x[i].childNodes[0].nodeValue.toString();
                                if (good_seqid_list.indexOf(seqid_in_run_stats) === -1) {
                                  bad_seqids_in_run_stats.push(seqid_in_run_stats);
                                }
                              }
                            if (bad_seqids_in_run_stats.length > 0) {
                              fastq_run_stats_validated = false;
                              $('#submit').prop('disabled', true);
                              filesTable.rows[3].cells[1].innerHTML = '<i class=\"fa fa-ban fa-1x\"></i>';
                              filesTable.rows[3].cells[1].classList.add('table-danger');
                              alert('One or more SEQIDs specified in GenerateFASTQRunStatistics.xml was not found in your SampleSheet.\n' +
                                'You\'ll need to remove your xml file, modify it, and reupload. IDs that were not found in SampleSheet are: ' + bad_seqids_in_run_stats.toString());
                            }
                          }
                        }
                      }
                      var form_is_valid = validateForm();
                      if (validationSuccess === true && form_is_valid === true && seqid_validated === true && fastq_run_stats_validated === true) {
                        $('#submit').prop('disabled', false);
                      }
                });
                submitButton.addEventListener("click", function(e) {
                    {#e.preventDefault();#}
                    {#e.stopPropagation();#}
                    myDropzone.processQueue();
                    // Tell Dropzone to process all queued files.
                });
      }
    };
    
</script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript">
  $(document).ready(function () {
  //add tooltips
  var dropzone = document.getElementById('myDropzone');
  $(dropzone).attr('data-tooltip','tooltip');
  $(dropzone).attr('title',"{%trans 'Drop or click to add files' %}");
  });

  </script>
{% endblock %}
