{% extends "base.html" %}
{#Head container#}
{% load static %}
{% load bootstrap %}
{% load i18n widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}

<h2>{% trans "Select ROGA Strains for and verify Strain Names for" %} {{ sequencing_run.run_name }}</h2>
  <br>
  <p>{% blocktrans%} Strains thought to need ROGAs based on your SampleSheet are already checked off. Please verify that these
  strains do in fact need ROGAs and that you haven't missed any other strains. Also, please make sure
  that the strain names for each sample are correct, and modify the text box for each as necessary. {%endblocktrans%}</p>
  <form id="realtimeform" action='' enctype="multipart/form-data" method="post">
    {% if form.errors %}
    <div class="alert alert-danger" role="alert" align="center">
      {{ form.errors }}
      {{ form.non_field_errors|escape }}
    </div>
    {% endif %}
    {% csrf_token %}
      <div style="width: 20%; float:left">{{ form.realtime_select }}</div>
      <div style="width: 80%; float:right">
        {% for field in form %}
          {% if field.field.widget.input_type == 'text' %}
            {{ field }}
            <br style="display: block; content: ''; margin-top: 1.8px;">
          {% endif %}
        {% endfor %}
      </div>
  <br>
  <button type="submit" id="verifyButton" class="btn btn-primary btn-lg">{% trans "Verify ROGA Strains" %}</button>
  </form>


  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript">
  // Check that at least one strain is checked off. If none are checked off, send an 'Are you sure' alert to
  // the user to make sure that they haven't missed anything.
  $('#verifyButton').click(function(e) {
    e.preventDefault();
    var checkboxes = document.getElementsByClassName('checkBoxSelect');
    var at_least_one_check = false;
    for(var i=0;i<checkboxes.length;i++) {
      if (checkboxes[i].checked === true) {
        at_least_one_check = true;
      }
    }
    if (at_least_one_check === false) {
      Swal.fire({
        title: "{% trans 'No strains selected' %}",
        text: "{% trans 'Are you sure no strains need ROGAs?' %}",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: "{% trans 'Yes, I am sure!' %}",
        cancelButtonText: "{% trans 'No, take me back!' %}"}).then(function(result) {
          if (result.value === true) {
            $('#realtimeform').submit()
          }
      });
    }
    else {
      $('#realtimeform').submit()
    }
  })
  </script>
{% endblock %}

