
// project specific CSS goes here
ul#id_jobs{
  list-style-type: none;
  padding: 0;
}

// Remove form label
label.col-sm-2.control-label {
  font-size: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

////////////////////////////////
        //NAVBAR//
////////////////////////////////
//Styling with federal gov. colours: https://work.smarchal.com/twbscolor/4.0.0-beta/scss/0e4164193451fbfcffffffff0

$bgDefault      : #0e4164;
$bgHighlight    : #193451;
$colDefault     : #fbfcff;
$colHighlight   : #ffffff;
$dropDown       : false;

.navbar {
  background-color: $bgDefault;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    .nav-link {
      color: $colDefault;
      border-radius: .25rem;
      margin: 0 0.25em;
      &:not(.disabled) {
        &:hover, &:focus {
          color: $colHighlight; }}}
    @if ($dropDown) {
      .dropdown-menu {
        background-color: $bgDefault;
        border-color: $bgHighlight;
        .dropdown-item {
          color: $colDefault;
          &:hover, &:focus, &.active {
            color: $colHighlight;
            background-color: $bgHighlight; }}
        .dropdown-divider {
          border-top-color: $bgHighlight; }}}
    .nav-item.active, .nav-item.show {
      .nav-link, .nav-link:hover, .nav-link:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .navbar-toggler-icon {
      color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
.navbar-expend .navbar-nav .show .dropdown-menu {
  .dropdown-item {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .dropdown-item.active {
    color: $colHighlight;
    background-color: $bgHighlight; }}


////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

////////////////////////////////
		//Django Toolbar//
////////////////////////////////

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317

[hidden][style="display: block;"] {
  display: block !important;
}

////////////////////////////////
		//Test playground//
////////////////////////////////
