{% extends "base.html" %}
{#Head container#}
{% load static %}
{% load bootstrap %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}
<br>
    <a href="{% url 'primer_val:primer_val_request' %}" class="btn btn-primary btn-block" role="button" aria-pressed="true"><i class="fas fa-plus"></i><strong> {% trans "Create A Virus Typer Query" %}</strong></a>
    <br>
    <h2>Primer Validator</h2>
    <br>
    <table id="primer_val-request-table" class="table table-hover">
        <thead>
        <tr style="text-align:center">
            <th>{% trans "Name" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Download" %}</th>
            <th>{% trans "Request Date" %}</th>
            <th data-orderable="false"></th>
            <th>{% trans "Edit Project" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for primer_val_obj in primer_val_objs %}
            <tr id="row{{primer_val_obj.pk}}" style="text-align:center">
                <td><p style="text-align:center">{{ primer_val_obj }}</p></td>
                {% if primer_val_obj.status == 'Complete' %}
                    <td><a href="{% url 'primer_val:primer_val_results' primer_val_pk=primer_val_obj.pk %}" class="btn btn-success btn-block" role="button"> {% trans "Complete" %} <i class="fas fa-check-circle"></i></a></td>
                {% elif primer_val_obj.status == 'Processing' %}
                    <td><button class="btn progress-bar-striped progress-bar-animated bg-info btn-block" style="color:white;" role="button"> {% trans "Processing" %} </button></td>
                {% elif primer_val_obj.status == 'Error' %}
                    <td><a href="{% url 'primer_val:primer_val_results' primer_val_pk=primer_val_obj.pk %}" class="btn btn-outline-danger btn-block" role="button"> {% trans "Error" %} </a></td>
                {% elif primer_val_obj.status == 'Unprocessed' %}
                    <td><button class="btn btn-secondary btn-block" disabled> {% trans "Unprocessed" %} </button></td>
                {% endif %}
                {% if primer_val_obj.status == 'Complete' %}
                    <td><a href="{{ primer_val_obj.download_link }}" class="btn btn-dark btn-block"  role="button">{% trans "Download" %} <i class="fas fa-download"></i></a></td>
                {% else %}
                    <td><button class="btn btn-dark btn-block" disabled>{% trans "Not Available" %}</button></td>
                {% endif %}
                <td>{{ primer_val_obj.created_at }}</td>
                {% if primer_val_obj.status != 'Processing' and 'Unprocessed' %}
                    <form id="form{{primer_val_obj.pk}}" method="post">
                        <td align="center"><button class="btn btn-danger btn-block" type="submit" id="btn{{primer_val_obj.pk}}" name="delBtn" value={{primer_val_obj.pk}}>{%  trans "Delete " %} <i class="fas fa-trash-alt"></i></button></td>
                        <input type='hidden' id="delete{{primer_val_obj.pk}}" name="delete" value={{primer_val_obj.pk}}>
                    </form>
                {% else %}
                    <td></td>
                {% endif %}
                <td style="text-indent: 5px"><a href="{% url 'primer_val:primer_val_rename' primer_val_pk=primer_val_obj.pk %}">   <i class="fas fa-pen" aria-hidden="true"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/datatables.min.css' %}"/>
    <script type="text/javascript">
        $(document).ready(function () {
            let table = $('#primer_val-request-table').DataTable({
                language : {
                    url: getLanguage()
                }
            });
            //Default order of table on page load
            table
                .order([3,"desc"], [1,"asc"])
                .draw();
        });
        setInterval(function () {
            {% for primer_val_obj in primer_val_objs %}
                {% if primer_val_obj.status == 'Processing' %}
                    window.location = window.location.href;
                    {% endif %}
            {% endfor %}
        },
            15000); // This should refresh the page every 60 seconds as long as run status is processing
        $(".btn-danger").click(function(e) {
            // Delete button SweetAlerts
            e.preventDefault();
            let btn = this.value;
            let form = document.getElementById("form" + this.value);
            Swal.fire({
                title: '{% trans "Are you sure?" %}',
                text: '{% trans "You will not be able to revert this!" %}',
                type: 'warning',
                showCancelButton: true,
                cancelButtonText: '{% trans "Cancel" %}',
                confirmButtonColor: '#d33',
                confirmButtonText: '{% trans "Yes, delete it!" %}',
                reverseButtons: true
            }).then(function(result) {
                if (result.value === true) {
                    Swal.fire({
                        title: '{% trans "Deleted!" %}',
                        text: '{% trans "Your project has been deleted." %}',
                        type: 'success',
                        showConfirmButton: false
                    }).then(function(cont) {
                        if (cont.value == null) {
                            if (bowser.name === "Internet Explorer") { //allows for page submission IE
                                $.ajax({
                                    type:"POST",
                                    data: {"delete":btn}}).done(function(data) {
                                        location.reload();
                                    });
                            }else {
                                form.submit();
                            }
                        }
                    })
                } else {
                    Swal.fire({
                        title: '{% trans "Cancelled!" %}',
                        text: '{% trans "Your project is safe." %}',
                        type: 'error',
                        showConfirmButton: false
                    })
                }
            })
        });
    </script>
{% endblock %}
