{% extends "base.html" %}
{#Head container#}
{% load staticfiles %}
{% load bootstrap %}
{% load render_table from django_tables2 %}
{% load i18n widget_tweaks %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_bootstrap_vars.css' %}"/>
    <h4>AMR Detail for Sample {{ sample.title }}</h4>
    <div id="container" style="width: 750px; height: 600px; margin: 0 auto"></div>
    <br><br>
    <button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#amr-results"><strong>View Table</strong></button>
    <br><br>
    <a href="{% url 'new_multisample:project_detail' project_id=sample.project.pk %}" class="btn btn-sample" role="button" aria-pressed="true">Return to Project {{ sample.project.project_title }}</a>
    <div id="amr-results" class="collapse">
     <table id="amr-results-table" class="display compact">
        <thead>
        <tr>
            <th>Class</th>
            <th>Accession</th>
            <th>Identity</th>
            <th>Prevalence</th>
            <th>Annotation</th>
        </tr>
        </thead>

        <tbody>
        {% for key, value in results.items %}
            {% for k, v in value.items %}
                <tr>
                    <td>{{ key }}</td>
                    <td><a href="https://www.ncbi.nlm.nih.gov/nuccore/{{ k }}">{{ k }}</a></td>
                    <td>{{ v.identity }}</td>
                    {% if v.rarity == 9000 %}
                        <td>Unknown</td>
                    {% else %}
                        <td>{{ v.rarity }}</td>
                    {% endif %}
                    <td>{{ v.annotation }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
     </table>
    </div>

    <script src="{% static 'js/highcharts.js' %}"></script>
    <script src="{% static 'js/modules/exporting.js' %}"></script>
    <script type="text/javascript">
                var categories = [{% for key in results %}"{{ key }}",{% endfor %}],
                data = [
                    {% for key, value in results.items %}
                        {
                            y: {{ value|length}},
                            color: "{% cycle '#8B008B' '#4B0082' '#483D8B' '#00008B' '#27408B' '#6495ED' '#104E8B' '#36648B' '#00688B' '#33A1C9' '#00868B' '#03A89E' '#00C78C' '#008B45' '#00CD00' '#698B22' as cols %}",
                            drilldown: {
                                name: 'NCBI Accession',
                                categories: [{% for k, v in value.items %}'{{ k }}',{% endfor %}],
                                data: [{% if caption.1 == 'N/A' %}
                                    {% for k,v in value.items %}1,{% endfor %}
                                {% else %}
                                    {% for k,v in value.items %}{{ v.rarity }},{% endfor %}
                                {% endif %}],
                                identity: [{% for k,v in value.items %}"{{ v.identity }}",{% endfor %}],
                                annotation: [{% for k,v in value.items %}"{{ v.annotation }}",{% endfor %}]
                            }
                        },
                    {% endfor %}
                ],
                browserData = [],
                versionsData = [],
                rarityData = [],
                i,
                j,
                dataLen = data.length,
                drillDataLen,
                brightness;
            // Build the data arrays
            var value;
            for (i = 0; i < dataLen; i += 1) {
                // add browser data
                browserData.push({
                    name: categories[i],
                    y: data[i].y,
                    color: data[i].color
                });
                // add version data
                var colourRarity;
                drillDataLen = data[i].drilldown.data.length;
                for (j = 0; j < drillDataLen; j += 1) {
                    value = data[i].drilldown.data[j];
                    if (value < 0.1) {
                        colourRarity = '#3fe532';
                    } else if (value < 0.25) {
                        colourRarity = '#d3d232';
                    } else if (value < 0.5) {
                        colourRarity = '#ff9127';
                    } else if (value == 9000) {
                        colourRarity = '#2d3317';
                        value = 'Unknown';
                    } else {
                        colourRarity = '#ff171a';
                    }
                    brightness = 0.2 - (j / drillDataLen) / 5;
                    versionsData.push({
                        name: data[i].drilldown.categories[j],
                        y: 1, //data[i].drilldown.data[j],
                        info: data[i].drilldown.identity[j],
                        anno: data[i].drilldown.annotation[j],
                        color: Highcharts.Color(data[i].color).brighten(brightness).get()
                    });
                    rarityData.push({
                        name: data[i].drilldown.categories[j],
                        y: 1, //data[i].drilldown.data[j],
                        info: value,
                        color: colourRarity
                    });
                }
            }
            // Create the chart
            Highcharts.chart('container', {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'NCBI AMR Target Detection For ' + "{{ caption.0 }}"
                },
                subtitle: {
                    text: 'Prevalence Calculated For ' + "{{ caption.1 }}"
                },
                yAxis: {
                    title: {
                        text: 'AMR Targets'
                    }
                },
                plotOptions: {
                    pie: {
                        shadow: false,
                        center: ['50%', '50%']
                    }
                },
                tooltip: {
                    shared: false,
                    formatter: function() {
                        var text = '';
                        if(this.series.name == 'Rarity') {
                            text = "Prevalence Factor: " + this.point.info;
                        } else if (this.series.name == "Gene") {
                            text = "Identity: " + this.point.info + "\n" + "Annotation: " + this.point.anno;
                        } else {
                            text = this.point.name;
                        }
                        return text;
                    }
                },
                series: [{
                    name: 'Class',
                    data: browserData,
                    size: '60%',
                    dataLabels: {
                        color: '#ffffff',
                        distance: -30
                    }
                }, {
                    name: 'Gene',
                    data: versionsData,
                    size: '95%',
                    innerSize: '60%',
                    dataLabels: {
                        formatter: function () {
                            return null;
                        }
                    }
                },{
                    name: 'Rarity',
                    data: rarityData,
                    size: '100%',
                    innerSize: '95%'
                }]
            });
    </script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#amr-results-table').dataTable();
        });
    </script>
{% endblock %}
