{% extends "base.html" %}
{#Head container#}
{% load staticfiles %}
{% load bootstrap %}
{% load crispy_forms_tags %}
{% load i18n widget_tweaks %}
{% block content %}
    <h4>{{ project.project_title }}</h4>
    <hr>
  <div id="table-div">
  </div>
    <hr>

    {# JOB SELECTION FORM #}
    <h5>Select Jobs</h5>
    {% crispy form %}

    <hr>

    <td>
        <a href="{% url 'new_multisample:upload_samples' project_id=project.pk %}" class="btn btn-primary" role="button" aria-pressed="true">
            Upload samples
        </a>
    </td>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
    <script type="text/javascript">
        $(document).ready(function () {
           $.ajax({
              url: "{% url 'new_multisample:only_project_table' project_id=project.pk %}",
              success: function(data){
                $('#table-div').html(data);
                $('#sample_table').dataTable({
                  stateSave: true,
                  destroy: true
                });
              }
           });
        });
        //Periodically reload the page if a job status == 'Processing'
        setInterval(function() {
            $.ajax({
              url: "{% url 'new_multisample:only_project_table' project_id=project.pk %}",
              success: function(data){
                $('#table-div').html(data);
                $('#sample_table').dataTable({
                  stateSave: true,
                  destroy: true
                });
              }
            });

        }, 5000); // This reloads the <div> every 5 seconds.
    </script>

{% endblock %}

