{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block content %}
<h1>Task Queue</h1>
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom_bootstrap_vars.css' %}"/>
  <p>There are currently <strong>{{ task_count }}</strong> jobs in the queue.</p>

  <br>
  <h4>Your Tasks</h4>
  <table class="display compact" id="queue-table">
    <thead>
      <tr>
        <td>Task Name</td>
        <td>Position In Queue</td>
      </tr>
    </thead>

    <tbody>
      {% for item in task %}
        <tr>
          <td>{{ item.verbose_name }}</td>
          <td>{{ item.pk|add:offset }}</td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <a onclick="javascript:history.go(-1);" class="btn btn-sample" role="button" aria-pressed="true">Return to Project</a>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/datatables.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#queue-table').dataTable({stateSave: true}).fnSort([[1, 'asc']]);  // This makes the datatable sort based on queue position
    });
  </script>

{% endblock content %}
