{% extends "base.html" %}
{% load static %}
{% load bootstrap %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}

<div class="h-100 justify-content-center">
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="row mx-auto">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h3>{% trans "PrimerValidator" %}</h3>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <p id="article1">
                            {% trans "Determine binding of primer sets against flexible panels as well as assemblies" %}
                        </p>
                        <a class="btn btn-primary btn-lg btn-block mt-auto"
                           href="{% url 'primer_finder:primer_validator_home' %}">{% trans "PrimerValidator" %}</a>
                    </div>
                </div>
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h3>{% trans "PrimerVerifier" %}</h3>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <p id="article2">{% trans "Determine binding of primer sets against genus-specific panels" %}</p>
                        <a class="btn btn-primary btn-lg btn-block mt-auto"
                           href="{% url 'primer_finder:primer_verifier_home' %}">{% trans "PrimerVerifier" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}




