{% extends "base.html" %}
{#Head container#}
{% load static %}
{% load bootstrap %}
{% load i18n widget_tweaks %}
{% block content %}

  <h2>{%trans "AMR Summary Rename"%}</h2>
  <br>
  <h4>{{amr_request.pk}} - {{amr_request.created_at}}</h4>

  <form method='post'>
  {% csrf_token %}
  {%trans "Previous Name:"%} {{amr_request.name}} </br></br>
  {{form}} </br></br>
 <button class='btn btn-outline-dark'> <a class="bkwd" href="{% url 'geneseekr:amr_home' %}">Back</a></button>  <button type='submit' class='btn btn-success'>Save Changes</button>
  </form>

{% endblock %}