{% extends "base.html" %}
{#Head container#}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n widget_tweaks %}
{% block content %}

  <h2>GeneSeekr</h2>
  <br>
  <h4>{{geneseekr_request.pk}} - {{geneseekr_request.created_at}}</h4>

  <form method='post'>
  {% csrf_token %}
  Old Name: {{geneseekr_request.name}}</br></br>
  New Name: <input type='text' name='newName'></br></br></br>
  <button onclick='this.form.reset()' class='btn btn-outline-secondary'>Clear</button>  <button type='submit' class='btn btn-success'>Save Changes</button>
  </form>

{% endblock %}