{% extends "base.html" %}
{#Head container#}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n widget_tweaks %}
{% block content %}

  <h2>GeneSeekr Results</h2>
  <br>

  {% if geneseekr_request.status == 'Processing' %}
      <button class="btn btn-info btn-block progress-bar-striped progress-bar-animated" disabled>{{ geneseekr_request.status }}</button>
      <br>
      <p>This page will automatically refresh. Your GeneSeekr request should be complete in a minute or two.</p>
      <p>You don't have to remain on this page - this GeneSeekr request will be visible on <a href="{% url 'geneseekr:geneseekr_home' %}">GeneSeekr Home</a> </p>
   
    <!--Email Block--> 
      {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}

      {% if request.user.email in geneseekr_request.emails_array %}
      <p>Your email is already on the list to be notified. </p>
      Would you like to add another email? <input type='checkbox' id='cbx' onclick="cbxCheck()">

      <form method="Post" id='addEmail'>
        {% csrf_token %}
        {{form}}
        <button type="submit">Save Email</button>
        <br>
        <br>
      </form>

      <script>
        var checkbox = document.getElementById('cbx').checked;
        var form = document.getElementById('addEmail');
        if (checkbox != true){
          form.style.visibility ="hidden";}
        else {
            form.style.visibility ="visible";}
        function cbxCheck(){
          var checkbox = document.getElementById('cbx').checked;
          var form = document.getElementById('addEmail');
          if (checkbox == true){
            form.style.visibility ="visible";}
          else{
            form.style.visibility ="hidden";} 
            }
      </script>

      {% else %}
      <p>Would you like an email upon completion?</p>
      <form method="Post">
      {% csrf_token %}
      {{form}}
      <button class='btn btn-success' style='padding: .15rem .5rem;' type="submit">Save</button>
      <br>
      <br>
      </form>
      {% endif %}

    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#emails-button"><i class="far fa-envelope"></i> Email Recipients</button>
    <div id="emails-button" class="collapse">
      <br>
      {% if geneseekr_request.emails_array|length == 0 %}
        <p>No users have signed up to receive an email for this run.</p>
      {% else %}
          {% for email in geneseekr_request.emails_array %}
            <p>{{ email }}</p>
          {% endfor %}
      {% endif %}
    </div>
    <!--End Email Block--> 
    
  {% elif geneseekr_request.status == 'Unprocessed' %}
    <button class="btn btn-info btn-block progress-bar-striped" disabled>{{ geneseekr_request.status }}</button>
    <br>
  {% elif geneseekr_request.status == 'Error' %}
    <button class="btn btn-danger btn-block" disabled>{{ geneseekr_request.status }}</button>
    <br>
    <p>Return to <a href="{% url 'geneseekr:geneseekr_home' %}">Geneseekr Home</a> </p>

  {% elif geneseekr_request.status == 'Complete' %}
    <button class="btn btn-success btn-block" disabled>{{ geneseekr_request.status }} <i class="fas fa-check-circle"></i></button>
    <br>
    <p>These results will be available for 7 days.</p>
    <br>
    <div style="text-align: center">
        <a href="{{ geneseekr_request.download_link }}" class="btn btn-outline-dark" role="button"><i class="fas fa-download"></i> Download BLAST Report</a>
        <br><br>
        <a href="{{ geneseekr_request.download_link_sequence }}" class="btn btn-outline-dark" role="button"><i class="fas fa-download"></i> Download Sequence-By-Sequence Report</a>
        <br><br>
        <a href="{% url 'geneseekr:geneseekr_results' geneseekr_request_pk=geneseekr_request.pk %}" class="btn btn-outline-primary" role="button"><i class="fas fa-eye"></i> View Results</a>
        <br>
        <br>
    <div class="alert alert-primary" role="alert" align="center">
        <p style="word-wrap:break-word;"><i class="fas fa-share-alt"></i><b> Shareable link:</b> {{ geneseekr_request.download_link }}</p>
    </div>
    </div>
  {% endif %}
  <script type="text/javascript">
    setInterval(function () {
      {% if geneseekr_request.status == 'Processing' %}
        window.location = window.location.href;
      {% endif %}
    }, 15000) // This should refresh the page every 15 seconds as long as run status is processing
   </script>
{% endblock %}
