{% extends "base.html" %}
{#Head container#}
{% load static %}
{% load bootstrap %}
{% load i18n widget_tweaks %}
{% block content %}

  <h2>{%trans "GeneSeekr Run Rename"%} </h2>
  <br>
  <h4>{{geneseekr_request.pk}} - {{geneseekr_request.created_at}}</h4>

  <form method='post'>
  {% csrf_token %}
  {%trans "Previous Name:"%}{{geneseekr_request.name}} </br></br>
  {{form}} </br></br>
  <button class='btn btn-outline-dark'> <a class="bkwd" href="{% url 'geneseekr:geneseekr_home' %}">{%trans "Back"%}</a></button>  <button type='submit' class='btn btn-success'>{%trans "Save Changes"%}</button>
  </form>

{% endblock %}