{% extends "base.html" %}
{#Head container#}
{% load static %}
{% load bootstrap %}
{% load i18n widget_tweaks %}
{% block content %}
<br>
  <a href="{% url 'geneseekr:geneseekr_query' %}" class="btn btn-primary btn-block" role="button" aria-pressed="true"><i class="fas fa-plus"></i><strong> {% trans "Create A GeneSeekr Query" %}</strong></a>
  <br>
  <h2>{% trans "GeneSeekr Home" %}</h2>
  <br>
  <table id="geneseekr-request-table" class="table table-hover">
    <thead>
    <tr style="text-align:center">
       <th>SEQIDs</th>
       <th>{% trans "Status" %}</th>
       <th>{% trans "Download" %}</th>
       <th>{% trans "Request Date" %}</th>
       <th data-orderable="false">       </th>
       <th>{% trans "Name" %}</th>
       {#       <th>Type</th>#}
    </tr>
  </thead>

  <tbody>
     {% for geneseekr_request in geneseekr_requests %}
     <tr id="row{{geneseekr_request.pk}}" style="text-align:center">
       <td>
          {% for seqid in geneseekr_request.seqids|slice:":3" %}
            <p style="font-size:14px">{{ seqid }}</p>
          {% endfor %}
         {% if geneseekr_request.seqids|length > 3 %}
           <p style="font-size:14px">{% trans "...and"%} {{ geneseekr_request.seqids|length|add:'-3' }} {% trans "more"%}</p>
         {% endif %}
       </td>
          {% if geneseekr_request.status == 'Complete' %}
             <td><a href="{% url 'geneseekr:geneseekr_processing' geneseekr_request_pk=geneseekr_request.pk %}" class="btn btn-success btn-block" role="button">{% trans "Complete"%} <i class="fas fa-check-circle"></i></a></td>
          {% elif geneseekr_request.status == 'Processing' %}
             <td><a href="{% url 'geneseekr:geneseekr_processing'  geneseekr_request_pk=geneseekr_request.pk %}" class="btn progress-bar-striped progress-bar-animated bg-info btn-block" style="color:white;" role="button">{% trans "Processing"%}</a></td>
          {% elif geneseekr_request.status == 'Error' %}
             <td><a href="{% url 'geneseekr:geneseekr_processing'  geneseekr_request_pk=geneseekr_request.pk %}" class="btn btn-outline-danger btn-block" role="button">{% trans "Error"%}</a></td>
          {% elif geneseekr_request.status == 'Unprocessed' %}
             <td><button class="btn btn-secondary btn-block" disabled>{% trans "Unprocessed"%}</button></td>
          {% endif %}

          {% if geneseekr_request.status == 'Complete' %}
            <td><a href="{{ geneseekr_request.download_link }}" class="btn btn-dark btn-block"  role="button">{% trans "Download"%} <i class="fas fa-download"></i></a></td>
          {% else %}
            <td><button class="btn btn-dark btn-block" disabled>{% trans "Not Available"%}</button></td>
          {% endif %}

        <td>{{ geneseekr_request.created_at }}</td>
{#        {% if geneseekr_request.request_type == 'BLASTN' %}#}
{#          <td><button class="btn btn-secondary" disabled>BLASTN</button></td>#}
{#          TODO: Add other geneseekr blast options once they're implemented.#}
{#        {% else %}#}
{#          <td><button class="btn btn-dark" disabled>Other</button></td>#}
{#        {% endif %}#}
        {% if geneseekr_request.status != 'Processing' and 'Unprocessed' %}
          <form id="form{{geneseekr_request.pk}}" method="post">
          <td align="center"><button class="btn btn-danger btn-block" type="submit" id="btn{{geneseekr_request.pk}}" name="delBtn" value={{geneseekr_request.pk}}> {% trans "Delete"%}  <i class="fas fa-trash-alt"></i></button></td>
          <input type='hidden' id="delete{{geneseekr_request.pk}}" name="delete" value={{geneseekr_request.pk}}>
          </form>
        {% else %}
          <td></td>
        {% endif %}
        <td style="text-indent: 5px"><a href="{% url 'geneseekr:geneseekr_name'  geneseekr_request_pk=geneseekr_request.pk %}">{{geneseekr_request.name}} <i class="fas fa-pen" aria-hidden="true"></i></a></td>
     </tr>
     {% endfor %}
  </tbody>
  </table>

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/datatables.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static '/css/datatables.min.css' %}"/>
  <script type="text/javascript">
  $(document).ready(function () {
    //Default order of table on page load
    var table = $('#geneseekr-request-table').DataTable({
      language : {
        url: getLanguage()
    }
    }); 
        table
        .order([3,"desc"], [1,"asc"])
        .draw();
    });
  setInterval(function () {
    {% for geneseekr_request in geneseekr_requests %}
      {% if geneseekr_request.status == 'Processing' %}
        window.location = window.location.href;
      {% endif %}
    {% endfor %}
    }, 15000) // This should refresh the page every 60 seconds as long as run status is processing

    $(".btn-danger").click(function(e) {
    //Delete button SweetAlerts
    e.preventDefault();
    var btn = this.value;
    var form = document.getElementById("form" + this.value);
      Swal.fire({
      title: '{% trans "Are you sure?" %}',
      text: '{% trans "You will not be able to revert this!" %}',
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#d33',
      confirmButtonText: '{% trans "Yes, delete it!"%}',
      cancelButtonText:'{% trans "Cancel"%}',
      reverseButtons: true
     }).then(function(result) {
      if (result.value == true) {
       Swal.fire({
        title: '{% trans "Deleted!" %}',
        text: '{% trans "Your file has been deleted."%}',
        type: 'success',
        showConfirmButton: false
       }).then(function(cont) {
        if (cont.value == null) {
          if (bowser.name =="Internet Explorer") { //allows for page submission IE
            $.ajax({
            type:"POST",
            data: {"delete":btn}}).done(function(data) {
              location.reload();
            });
            
          }else{
          form.submit();}
       }
       })
      } else {
       Swal.fire({
        title: '{% trans "Cancelled!" %}',
        text: '{% trans "Your file is safe."%}',
        type: 'error',
        showConfirmButton: false
       })
      }
     })
   });
</script>
{% endblock %}