{% extends "base.html" %}
{#Head container#}
{% load static %}
{% load bootstrap %}
{% load crispy_forms_tags %}
{% load i18n widget_tweaks %}
{% block content %}

  <h2>{%trans "Nearest Neighbor"%}</h2>
  
  <form action='' enctype="multipart/form-data" method="post">
  {% if form.errors %}
    <div class="alert alert-danger" role="alert" align="center">
    {{ form.non_field_errors|escape }}
  </div>
  {% endif %}
  {% csrf_token %}
   <div class="col-3" style="padding-left:0;">
      {{form.name|as_crispy_field }}
      </div>
  <br>
      <p>{%trans "Enter the SeqID you want to use, or choose a .fasta file to upload."%}</p>
    <div class="col-3" style="padding-left:0;">
          {{ form.seqid|as_crispy_field }}
          {{ form.uploaded_file|as_crispy_field }}
        </div>

  <br>
      <div class="col-3" style="padding-left:0;">
      {{form.number_neighbors|as_crispy_field }}
      </div>
    
  <button type="submit" class="btn btn-primary btn-lg">{%trans "Submit Request"%}</button>
  </form>
{% endblock %}
