{% extends "base.html" %}
{#Head container#}
{% load staticfiles %}
{% load bootstrap %}
{% load crispy_forms_tags %}
{% load i18n widget_tweaks %}
{% block content %}
  <h2>Tree Query</h2>
  <form action='' enctype="multipart/form-data" method="post">
   {% if form.errors %}
     <div class="alert alert-danger" role="alert" align="center">
     {{ form.non_field_errors|escape }}
    </div>
   {% endif %}
  {% csrf_token %}
   <div class="col-3" style="padding-left:0;">
      {{form.name|as_crispy_field }}
      </div>
      <p>Enter SeqIDs to build a tree</p>
      {{ form.seqids|as_crispy_field }}
      {{form.tree_program|as_crispy_field }}

      <div class="col-3" style="padding-left:0;">
      {{form.number_diversitree_strains|as_crispy_field }}
      </div>
    
  <button type="submit" class="btn btn-primary btn-lg">Create Tree</button>
  </form>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript">
  $(document).ready(function () {
  var tree_options = document.getElementsByClassName('form-check');
  $(tree_options[0]).attr('data-tooltip','tooltip');
  $(tree_options[0]).attr('title','Why mashtree');
  $(tree_options[1]).attr('data-tooltip','tooltip');
  $(tree_options[1]).attr('title','Why parsnp');

  var diversitree = document.getElementById('div_id_number_diversitree_strains');
  $(diversitree).attr('data-tooltip','tooltip');
  $(diversitree).attr('title','Whats this');

  });
  </script>
{% endblock %}
