{% extends "base.html" %}
{#Head container#}
{% load static %}
{% load static %}
{% load bootstrap %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
  <h2>{% trans 'Metadata Search'%}</h2>
  <br>
  <form action='' method="post">
     {% if form.errors %}
     <div class="alert alert-danger" role="alert" align="center">
     {{ form.non_field_errors|escape }}
    </div>
   {% endif %}
    <p data-tooltip='tooltip' title='{% trans "Genus of interest"%}'>{% trans 'Enter your genus of interest'%} : {{ form.genus }}</p>
    <p data-tooltip='tooltip' title='{% trans "Species of interest"%}'>{% trans 'Enter your species of interest'%} : {{ form.species }}</p>
    <p data-tooltip='tooltip' title='{% trans "Serotype of interest"%}'>{% trans 'Enter your serotype of interest'%} : {{ form.serotype }}</p>
    <p data-tooltip='tooltip' title='{% trans "MLST of interest"%}'>{% trans 'Enter your MLST of interest'%} : {{ form.mlst }}</p>
    <p data-tooltip='tooltip' title='{% trans "rMLST of interest"%}'>{% trans 'Enter your rMLST of interest'%} : {{ form.rmlst }}</p>
    <p data-tooltip='tooltip' title='{% trans "Desired assembly quality"%}'>{% trans 'Choose your desired assembly quality'%} : {{ form.quality|add_class:"form-control" }}</p>
  {% csrf_token %}
    <br>
  <button type="submit" class="btn btn-primary btn-lg">{% trans 'Get SeqIDs' %}</button>
  </form>
  {{ form.media }}
{% endblock %}
